@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Work+Sans:wght@400;700&display=swap");
:root {
  --color-primary: #ccd6f6;
  --color-secondary: #4ecca3;
  --color-tertiary: #090117;
  --color-quaternary: #0a192f;

  --font-primary: "Work Sans", sans-serif;
  --font-secondary: "PT Mono", monospace;
}
